# This is a sample [environment config](https://vite.dev/guide/env-and-mode#env-variables); rename to `.env` to use.
#
# If you have a [Mapbox API token](https://docs.mapbox.com/api/accounts/tokens/) you can use it here;
# if loaded, the [Mapbox Outdoors map](https://www.mapbox.com/maps/outdoors) will be used
# VITE_MAPBOX_API_TOKEN=your_token_here
